/* MOBILE AND GLOBAL STYLES */
/* applies to screens smaller than 500px */
/* and all other screen sized unless overwritten below  */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contact-grid {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows:  500px 300px 300px 300px;
    grid-template-areas:
        "contact"
        "picleft"
        "picmid"
        "picright"
    }

    contact-contact {
      grid-area: contact;
      background: #FFF7D6;
    }

    contact-picleft {
      grid-area: picleft;
      background: #9E9999;
    }
    contact-picmid {
      grid-area: picmid;
      background: #9E9999;
    }
    contact-picright {
      grid-area: picright;
      background: #9E9999;
    }

/* TABLET STYLES */
@media screen and (min-width: 501px) {
    /* applies to screens wider than 500px */


}

/* DESKTOP STYLES */
@media screen and (min-width: 1000px) {
    /* applies to screens wider than 999px */

    .contact-grid {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  500px 300px;
        grid-template-areas:
            "contact contact contact"
            "picleft picmid picright"
        }

}

/*MAX HEIGHT STYLES*/
@media screen and (max-height: 650px) {

}

/* Color Hex Codes:
menu grey: #757575
placeholder grey: #9E9999
winterbourne yellow: #FFF7D6
winterbourne blue-green: #0F4F5C
*/
