/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px */

/* and all other screen sized unless overwritten below  */

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #424242;
}
a.contact-color {
	color: #0F4F5C;
}
.contact-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:  "top"
												"text"
												"map"
}

.contact-img-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 300px 300px 300px;
	grid-template-areas:  "picleft"
                        "picmid"
                        "picright"
}

.left-align {
  text-align: left;
}

hr {
	height: 2px;
	background-color: #0F4F5C;
	width: 50%;
	margin: auto;
	border: none;
	border-radius: 1px;
}
hr.wide {
	width: 75%;
}

contact-top {
	padding-top: 50px;
	grid-area: top;
	/* background: red; */
	display: grid;

}

contact-text {
	display: grid;
	grid-area: text;
	background: #FFF7D6;
	margin: 10vw 5vw;
	text-align: center;
}

.contact-wrapper {
	display: flex;
}


contact-map {
	grid-area: map;
	/* background: blue; */
	text-align: center;
	display: grid;
}

.map-wrapper {
	display: flex;
	position: relative;
	height: 0;
	padding-bottom: 75%;
	/* background: orange; */
	margin: 2vw;
}

.map-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.contact-header {
	text-align: center;
}
.button {
	cursor: pointer;
	background-color: #0F4F5C;
	color: #E5E4DE;
	outline: none;
	border: none;
	padding: 20px;
	width: 300px;
	height: 75px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;

	margin-left: 50%;
	margin-right: 50%;
	margin-top: 30px;
	transform: translateX(-50%);
	border-radius: 2px;
	transition-duration: 0.2s;
}
.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

contact-contact {
	grid-area: contact;
	background: #FFF7D6;
}
contact-picleft {
	grid-area: picleft;
	background: #9E9999;
}
contact-picleft>img {
	border-top: 1px solid white;
	border-right: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
contact-picmid {
	grid-area: picmid;
	background: #9E9999;
}
contact-picmid>img {
	border-top: 1px solid white;
	border-right: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
contact-picright {
	grid-area: picright;
	background: #9E9999;
}
contact-picright>img {
	border-top: 1px solid white;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
/* TABLET STYLES */

@media screen and (min-width: 501px) {
	/* applies to screens wider than 500px */
	.contact-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:  "top"
													"text"
													"map"
	}

	.contact-img-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 450px 450px 450px;
		grid-template-areas:  "picleft"
                          "picmid"
                          "picright"
	}

}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {
	/* applies to screens wider than 999px */
	.contact-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-template-areas:  "top top"
													/*"mid mid mid"*/
													"map text"
	}

	.contact-img-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 300px;
		grid-template-areas: "picleft picmid picright"
	}


	contact-text {
		padding: 2vw;
		margin: 0;
	}


	.button {
		cursor: pointer;
		background-color: #0F4F5C;
		color: #E5E4DE;
		outline: none;
		border: none;
		padding: 20px;
		width: 150px;
		height: auto;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 17px;
		margin: 30px 20px;
		transform: translateX(0%);*/
		border-radius: 2px;
		transition-duration: 0.2s;
	}



	contact-picleft>img {
		border-right: 1px solid white;
	}
	contact-picmid>img {
		border-right: 1px solid white;
	}
}

/* DESKTOP SECONDARY STYLES */
@media screen and (min-width: 1500px) {

	contact-text {
		padding: 10vw 5vw;
	}
}

/*MAX HEIGHT STYLES*/

@media screen and (max-height: 650px) {}
/* Color Hex Codes:
menu grey: #757575
placeholder grey: #9E9999
winterbourne yellow: #FFF7D6
winterbourne blue-green: #0F4F5C
*/
