/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px */

/* and all other screen sized unless overwritten below  */

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a.footer-color {
	color: #E5E4DE;
}
.footer-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 150px 450px 50px;
	grid-gap: 0px;
	grid-template-areas:  "phone phone"
                        "restaurant bar"
                        "bottom bottom"
}
item-a {
	z-index: ;
	color: #E5E4DE;
	grid-area: phone;
	position: relative;
}
item-a p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 20px;
}
.big {
	font-size: 2em;
}
.small {
	font-size: 0.5em;
}
item-b {
	color: #E5E4DE;
	grid-area: restaurant;
	position: relative;
}
item-b p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 25px;
}
item-c {
	grid-area: bar;
	color: #E5E4DE;
	position: relative;
}
item-c p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 25px;
}
item-d {
	grid-area: bottom;
	color: #E5E4DE;
	position: relative;
	height: 50px;
}
item-d p {
	border-top: thin solid #E5E4DE;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 20px;
	width: 50%;
}
item-d p a {
	text-decoration: none;
	color: inherit;
}
/* position: absolute; */

/* TABLET STYLES */

@media screen and (min-width: 501px) {
	/* applies to screens wider than 500px */
}
/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {
	/* applies to screens wider than 999px */
	.footer-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 350px 50px;
		grid-gap: 0px;
		grid-template-areas:  "restaurant phone bar"
                          "restaurant bottom bar"
	}
	item-d p {
		border-top: thin solid #E5E4DE;
		width: 100%;
	}
	item-b p {
		line-height: 17px;
	}
	item-c p {
		line-height: 17px;
	}
}
/*MAX HEIGHT STYLES*/

@media screen and (max-height: 650px) {}
/* Color Hex Codes:
menu grey: #757575
placeholder grey: #9E9999
winterbourne yellow: #FFF7D6
winterbourne blue-green: #0F4F5C
*/
