/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px */

/* and all other screen sized unless overwritten below  */

/* winterbourne yellow: #FFF7D6 */

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #424242;
}
.gallery-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 50px auto;
	grid-template-areas:  "top"
												"order"
												"bottom"
}

.gallery-img-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 300px 300px 300px 500px 500px 300px 300px 300px 500px 500px;
	grid-template-areas:  "one-left"
                        "one-mid"
                        "one-right"
                        "two-left"
                        "two-right"
                        "three-left"
                        "three-mid"
                        "three-right"
                        "four-left"
                        "four-right"
}

hr {
	height: 2px;
	background-color: #0F4F5C;
	width: 50%;
	margin: auto;
	border: none;
	border-radius: 1px;
}
hr.wide {
	width: 75%;
}
gallery-top {
	padding-top: 50px;
	grid-area: top;
	/* background: red; */
	display: grid;
}

gallery-mid {
	grid-area: mid;
	/*background: green;*/
	display: flex;
}

gallery-mid2 {
	padding: 30px;
	grid-area: mid2;
	/*background: yellow;*/
	display: flex;
}

gallery-order {
	grid-area: order;
	background: #FFF7D6;
	padding-bottom: 25px;
}
gallery-order> img {
	width: auto;
	height: 50px;
	margin-left: 50%;
	margin-right: 50%;
	transform: translateX(-50%);
	border-radius: 2px;
	transition-duration: 0.2s;
	object-fit: contain;
	cursor: pointer;
	transition-duration: 0.2s;
}
gallery-order> img:hover {
box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



gallery-bottom {
	grid-area: bottom;
	/* background: blue; */
	display: grid;
	text-align: center;
	vertical-align: middle;
	line-height: auto;
	padding-bottom: 30px;
}

.gallery-header {
	text-align: center;
}

.button {
	cursor: pointer;
	background-color: #0F4F5C;
	color: #E5E4DE;
	outline: none;
	border: none;
	padding: 20px;
	width: 300px;
	height: 75px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;

	margin-left: 50%;
	margin-right: 50%;
	margin-top: 30px;
	transform: translateX(-50%);
	border-radius: 2px;
	transition-duration: 0.2s;
}
.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

gallery-one-left {
	grid-area: one-left;
	background: #9E9999;
}
gallery-one-left>img {
	border-top: 1px solid white;
	border-bottom: none;
	border-right: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
gallery-one-mid {
	grid-area: one-mid;
	background: #9E9999;
}
gallery-one-mid>img {
	border-top: 1px solid white;
	border-bottom: none;
	border-right: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
gallery-one-right {
	grid-area: one-right;
	background: #9E9999;
}
gallery-one-right>img {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
gallery-two-left {
	grid-area: two-left;
	background: #9E9999;
}
gallery-two-left>img {
	border-right: none;
	border-bottom: 1px solid white;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
gallery-two-right {
	grid-area: two-right;
	background: #9E9999;
}
gallery-two-right>img {
	border-bottom: 1px solid white;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
gallery-three-left {
	grid-area: three-left;
	background: #9E9999;
}
gallery-three-left>img {
	border-right: none;
	border-bottom: 1px solid white;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
gallery-three-mid {
	grid-area: three-mid;
	background: #9E9999;
}
gallery-three-mid>img {
	border-right: none;
	border-bottom: 1px solid white;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
gallery-three-right {
	grid-area: three-right;
	background: #9E9999;
}
gallery-three-right>img {
	border-bottom: 1px solid white;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
gallery-four-left {
	grid-area: four-left;
	background: #9E9999;
}
gallery-four-left>img {
	border-right: none;
	border-bottom: 1px solid white;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
gallery-four-right {
	grid-area: four-right;
	background: #9E9999;
}
gallery-four-right>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 30%;
}
/* TABLET STYLES */

@media screen and (min-width: 501px) {
	/* applies to screens wider than 500px */
	.gallery-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 100px auto;
		grid-template-areas:  "top"
													"order"
													"bottom"
	}

	.gallery-img-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 450px 450px 450px 750px 750px 450px 450px 450px 750px 750px;
		grid-template-areas:  "one-left"
                          "one-mid"
                          "one-right"
                          "two-left"
                          "two-right"
                          "three-left"
                          "three-mid"
                          "three-right"
                          "four-left"
                          "four-right"
	}
}
/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {
	/* applies to screens wider than 999px */
	.gallery-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto 100px auto;
		grid-template-areas:  "top top top"
													"order order order"
													"bottom bottom bottom"
	}

	.gallery-img-grid {
		background-color: red;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 300px 500px 300px 500px;
		grid-template-areas:  "one-left one-mid one-right"
													"two-left two-left two-right"
													"three-left three-mid three-right"
													"four-left four-right four-right"
	}

	.button {
		cursor: pointer;
		background-color: #0F4F5C;
		color: #E5E4DE;
		outline: none;
		border: none;
		padding: 20px;
		width: 150px;
		height: auto;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 17px;
		margin-top: 30px;
		margin-left: 20px;
		margin-right: 20px;
		transform: translateX(0%);*/
		border-radius: 2px;
		transition-duration: 0.2s;
	}

	gallery-one-left>img {
		border-bottom: 1px solid white;
		border-right: 1px solid white;
	}
	gallery-one-mid>img {
		border-bottom: 1px solid white;
		border-right: 1px solid white;
	}
	gallery-two-left>img {
		border-right: 1px solid white;
	}
	gallery-three-left>img {
		border-right: 1px solid white;
	}
	gallery-three-mid>img {
		border-right: 1px solid white;
	}
	gallery-four-left>img {
		border-right: 1px solid white;
		border-bottom: none;
	}
}
/*MAX HEIGHT STYLES*/

@media screen and (max-height: 650px) {}
/* Color Hex Codes:
menu grey: #757575
placeholder grey: #9E9999
winterbourne yellow: #FFF7D6
winterbourne blue-green: #0F4F5C
*/
