/* MOBILE AND GLOBAL STYLES */
/* applies to screens smaller than 500px */
/* and all other screen sized unless overwritten below  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.stop-transition .nav-links {
  transition: none !important;
}

nav {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #757575;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cover {
  z-index: 200;
  width: 100%;
  height: 200px;
  background-color: #757575;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.logo {
    z-index: 200;
    position: absolute;
    padding-bottom: 66px;
    color: #0F4F5C;
    letter-spacing: 5px;
    font-size: 30px;
}

.nav-links {
  z-index: 10;
  display: flex;
  flex-direction: column;
  opacity: 1;
  justify-content: space-around;
  text-align: center;
  font-size: 20px;
  position: absolute;
    top: 200px;
    width: 100vw;
    height: 40vh;
    background-color: #757575;

}

.nav-links a {
  color: #FFF7D6;
  text-decoration: none;
}

.nav-links li {
  list-style: none;
}

.burger-wrap{
  display: flex;
  flex-direction:  row;
  align-items: center;
  justify-content: space-around;
    width: 60%;
  z-index: 301;
  padding-top: 66px;
  position: absolute;

}

.burger {
  cursor: pointer;
  z-index: 302;
}

.pointer {
  cursor: pointer;
}

.burger div {

   width: 25px;
   height: 3px;
   background-color: #FFF7D6;
   margin: 5px;
   border-radius: 3px;
   transition: all 0.3s ease;
}

.fa-yellow{
   color: #FFF7D6;
 }







/* SPECIFIC MOBILE STYLES */
@media screen and (max-width: 500px) {
    /* applies to screens narrower than 500px */

}


@media screen and (max-width: 1000px) {
    /* applies to screens narrower than 1000px */

    body {
      overflow-x: hidden;
    }
    .nav-links li {
      border-top: thin solid #0F4F5C;
      padding-top: 25px;
      opacity: 0;

    }
    .nav-links {

      transform: translateY(-155%);
      transition: transform 1s ease-in-out;
      padding-bottom: 15px;

    }

    .nav-active {
      transform: translateY(0%);
      transition: transform 1s ease-in-out;
    }

    @keyframes navLinkFadeIn{
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }

    @keyframes navLinkFadeOut{
      from{
        opacity: 1;
      }
      to{
        opacity: 0;
      }
    }

    .toggle .line1{
      transform: rotate(-45deg) translate(-5px, 6px);

    }
    .toggle .line2{
      opacity: 0;
    }
    .toggle .line3{
      transform: rotate(45deg) translate(-5px,-6px);
    }

}





/* TABLET STYLES */
@media screen and (min-width: 501px) {
    /* applies to screens wider than 500px */

    .burger-wrap{
      width: 40%;
    }

}

/* DESKTOP STYLES */
@media screen and (min-width: 1001px) {
    /* applies to screens wider than 1000px */

    nav {
        height: 200px;
    }

    .logo {
        position: static;
        padding-bottom: 0;
    }

    .burger {
      display: none;
    }

    .nav-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
        width: 50%;
        height: 200px;
      font-size: 20px;
      position: static;
    }

    .cover {
      display: none;
    }

    .burger-wrap {
      width: 15%;
      padding-top: 0px;
      margin-left: -3%;
      position: static;
    }
}

/* Color Hex Codes:
menu grey: #757575
placeholder grey: #9E9999
winterbourne yellow: #FFF7D6
winterbourne blue-green: #0F4F5C
*/
